{{#each messages}}
    <div class="message-area {{#if this.isOwner}}message-area_justify-right{{else}}message-area_justify-left{{/if}}">
        <div class="message-widget">
            <div class="message-text description">{{this.text}}</div>
            {{#if this.pin}}
                <div id="message-{{this.id}}-pin-{{this.pin.pin_id}}" class="message-pin-preview"></div>
<!--                <img src="{{this.pin.content_url}}" alt="" class="message-pin-preview" id="message-pin-{{this.pin.pin_id}}">-->
            {{/if}}
        </div>
    </div>
{{/each}}
