{{#if pinControl}}
{{#each pins}}
    <div class="feed_item">
        <div>
            <img src="{{ this.content_url }}" alt="" class="pin" id="pin-{{this.pin_id}}">
        </div>
        <div class="pin-hover">
            <div class="pin-hover_background"></div>
            <button class="button button-secondary" id="board-pin-del-{{this.pin_id}}">Удалить</button>
        </div>
    </div>
{{/each}}
{{else}}
    {{#each pins}}
        <div class="feed_item" id="pin-{{this.pin_id}}">
            <img src="{{ this.content_url }}" alt="" class="pin">
        </div>
    {{/each}}
{{/if}}
