<div class="input-item">
    <label for="{{field.inputField}}">{{label}}</label>
    <input type="{{type}}" class="input" id="{{field.inputField}}" placeholder="{{placeholder}}" value="{{value}}">
    <div class="input_error" id="{{field.errContent}}"></div>
    <div class="hint" id="{{field.hint}}">{{#each field.hintFields}}
        <div id="{{this.id}}">
            {{this.content}}
        </div>
    {{/each}}
    </div>
</div>
