<label for="{{field.inputField}}">{{field.label}}</label>
<input type="{{field.type}}" class="input" id="{{field.inputField}}" placeholder="{{field.placeholder}}" value="{{field.value}}">
{{#if isPassword}}
    <div class="eye" id="eye">
        <img src="/static/eye.svg" alt="" class="eye-image" id="eye-open">
        <img src="/static/eye_closed.svg" alt="" class="eye-image-close eye__visibility-hidden" id="eye-closed">
    </div>
{{/if}}
<div class="input_error" id="{{field.errContent}}"></div>
{{#if field.hint}}
    <div class="hint" id="{{field.hint}}">
    {{#each field.hintFields}}
        <div class="hint-item" id="{{this.id}}">
            {{this.content}}
        </div>
    {{/each}}
    </div>
{{/if}}
